.footer {

  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #343a40;
  color: white;
}

#containerg {
	width: 491px;
	height: 491px;
}